.reset-form {
    padding-top: 50px;
    margin: auto;
    max-width: 300px;
}

.reset-form-button {
    width: 100%;
}

.reset_title {
    position: relative;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    padding-top: 200px;
}