.questionsConten{
    width:1440px;
    height: 4000px;
    background:rgb(195, 206, 252)
}

.questionsSideBar1{
    position: fixed;
    top:100px;
    width:400px;
    height: 900px;
    padding: 50px;
    background:rgba(195, 206, 252,0)
}

.questionsHeadTitle{
    text-align: center;
    background:rgb(255, 255, 255)
}

.questionsSideBar2{
    position:absolute;
    left:400px;
    width:800px;
    height: 500px;

    background:rgba(195, 206, 252,1)
}
.questionsSideBar3{
    position:absolute;
    left:400px;
    width:800px;
    height: 500px;

    background:rgba(195, 206, 252,1)
}

.questionsdiv{
    position:sticky;
    left:400px;
    width:800px;

    background:rgba(195, 206, 252,1)
}

.asksoptions{
    width: 500px;
}