.edit_header, .edit_content {
    background-color: white !important;
    width: 100%;
}
.edit_footer{
    position:absolute;
        bottom: 0px;
}
.edit_questionsSideBar1{
    position: fixed;
    top:100px;
    width:400px;
    height: 900px;
    padding: 50px;
    background:rgba(195, 206, 252,0)
}

.edit_questionsSideBar2{
    position:absolute;
    top:50px;
    left:450px;
    width:800px;
    height: 500px;

    background:rgba(195, 206, 252,1)
}
.edit_questionsdiv{
    position:sticky;
    left:400px;
    width:800px;
  

    background:rgba(195, 206, 252,1)
}
.edit_title {
    text-align: center;
    color: #1890ff !important;
}
.edi_options{
    width: 500px;
}
.edit_footer {
    margin-top: 3%;
    position: relative;
    height: 10%;
    text-align: center;
    font-size: 12px;
    color: #bfbfbf;
}

.edit_header {
    margin-top: 5%;
    margin-bottom: 3%;
}

.edit_button {
    margin: 5% auto auto;
    width: 80px;
}

.edit_layout {
    
    width:1440px;
    height: 4000px;
    background:rgb(195, 206, 252)
     !important;
}

.edit_spin {
    margin-top: 400px !important;
    margin-left: 50% !important;
}
