.question_header, .question_content, .question_footer {
    background-color: white !important;
    width: 100%;
}

.fill_question_title {
    text-align: center;
    color: #1890ff !important;
}

.question_footer {
    margin-top: 3%;
    position: relative;
    height: 10%;
    text-align: center;
    font-size: 12px;
    color: #bfbfbf;
}

.question_header {
    margin-top: 5%;
    margin-bottom: 3%;
}

.question_button {
    margin: 5% auto auto;
    width: 80px;
}

.question_layout {
    background-color: white !important;
}

.question_alert {
    margin-top: 20px;
    text-align: center;
    color: #fa541c;
}

.question_spin {
    margin-top: 400px !important;
    margin-left: 50% !important;
}
